<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>From</th>
      <th>To</th>
      <th>Reply to</th>
      <th>Lang</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Sent at</th>
    </tr>
  </thead>

  <tbody>
    <tr class="odd">
      <td>{{ variables.id.value }}</td>
      <td>{{ variables.mail_from.value }}</td>
      <td>{{ variables.mail_to.value }}</td>
      <td>{{ variables.mail_reply_to.value }}</td>
      <td>{{ variables.langcode.value }}</td>
      <td>{{ variables.subject.value|raw }}</td>
      <td>{{ variables.body.value|replace({'["': '', '"]': '', "\",\"": '', "\\/": "/"})|raw }}</td>
      <td>{{ variables.created.value|date('Y-m-d H:i:s') }}</td>
    <td>
  </tbody>
</table>
